node_modules
.next
dist
.buildcache
.git
.venv
.vscode
*.log
.env
.env.local
.env.*.local
frontend/.cache
Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git

.prettierrc
.prettierignore
*.env
env.*
README.md